body { 
	margin: 0px; 
	padding: 0px; 
	background: #fff;
	font-family: 'Varela', sans-serif;  
}

h1 {
    font-size: 32pt;
    margin: 0;
    padding: 0.5em 0 0 2em;
    text-align: left;
}

h2 {

    font-size: 26pt;
    margin: 0;
    padding: 0;
}

img { 
	border: 0px solid white; 
}

code {
	font-size: 90%;
	background: #eaf2f5;
    border: 1px solid #bedce7;
    padding: .2em .3em .2em .3em;
}

a { 
	color: #4183C4; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

#menu a { 
	color: #4183C4; 
	text-decoration: none; 
}

#menu a:hover { 
}

a.plink {
    color: #fff!important;
    margin-left: 3px;
    text-decoration: none!important;
}

a.plink:hover {
    background-color: #fff;
    color: #4183C4!important;
}


#menu {
    color: #404040;
    font-size: 10pt;
    padding: 0;
    text-align: right;
}

#header { 
	background: #f6f6f6;
	margin: 0; 
	padding: .5em .5em 0 .5em;
	text-align: center;
	border-bottom: 1px solid white;
}

#main { 
	background: #fff;
	margin: 0; 
	padding: 2em 0 0 0; 
	border-top: 1px solid #e0e0e0;
}

#footer {
    color: #aaa;
    font-size: 8pt;
    margin: 4em 0 0.5em;
    text-align: center;
}

.menu-item {
	padding: 0 .5em 0 .5em;
}

.section {
	margin: 3em 6em 2em 6em;
}

.section .intro {
    color: #d0d0e0;
    font-size: 14pt;
    margin: -4em 0 0;
    padding: 0;
}

.subheading {
	color: #d0d0e0;
	margin: .2em 0 1em 0;
}

.note {
	font-style: italic;
	margin: 1em 0 0 0;
}

.yv {
	float: left; 
	margin: 0.1em	
}

.yv-title {
	clear: left; 
	font-size: 8pt;
}

.sep {
	clear: left;
}